<!--MAIN BLOCK-->
<div class='background'>
  <div class='picture-container'>
    <div class='picture' style='background-image: url({{avatar}})'></div>
    <div class='name'>{{user.username}}</div>
  </div>
  <div class='personal-info'>
    <div class='level'>{{user.rank}}</div>
    <div class='score'>{{niceNumber user.score}}</div>
    <div class='facebook-link'></div>
  </div>
  <div class='buttons'>
    <a href="#hall-of-fame"class='hall-of-fame'></a>
    <div class='game-center'></div>
  </div>
  <div class='stats'>
    <div class='stat1'>
      <table>
        <tbody>
          {{#each stats}}
            <tr>
              <td class='left'>{{text}}</td>
              <td>{{number}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class='stat2'>
      <table>
        <tbody>

          {{#each sports}}
            <tr>
              <td class='left'>{{text}}</td>
              <td>{{number}}</td>
            </tr>
          {{/each}}

        </tbody>
      </table>
    </div>
  </div>
</div>

<!--BONUS BLOCK-->
<div class='bonus'>
  {{#each bonus}}
    <div class='elem {{name}}'>
      <div class='number'>{{quantity}}</div>
    </div>
  {{/each}}
</div>

<!--HEADER BLOCK-->
<div class="header">
  <a href="#home" class="home-btn"></a>
  <div class="informations">
    <div class="cash">
      <div class='cash-value'>{{user.credits}}</div>
      <div class="cash-icone"></div>
    </div>
    <div class="lifes">
      <div class="lifes-value">{{user.health}}</div>
      <div class="lifes-icone"></div>
    </div>
  </div>
</div>

<!-- HEADER BLOCK BEGIN
<div class="header-container">
  <a href="#home" class="home-btn"></a>
  <div class="title"></div>
  <div class="cash-container">
    <div class="token"></div>
    <p>Solde <span class="cash-value">{{credits}}</span></p>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
<!-- CONTENT BLOCK BEGIN
<div class="content-container">
  <div class="left-block">
    <div class="fb-head-container {{gender}}">
      <img src="{{#if avatar}}{{avatar}}{{else}}images/avatar/{{gender}}.jpg{{/if}}" alt="" class="fb-head">
    </div>
  </div>
  <div class="center-block">
    <div class="username box-align">{{username}}</div>
    <div class="current-cash">{{jackpot}}</div>
    <a class="rankings"></a>
  </div>
  <div class="right-block">
    <a id="link-fb" class="link-fb"></a>
    <a class="current-level">{{rank}}</a>
  </div>
</div>
<div class="clearfix"></div>

<div class="footer-container box-align">
  <div class="block played">
    <div class="score-container box-align"></div>
    <div class="text box-align">Parties jouées</div>
  </div>
  <div class="block won">
    <div class="score-container box-align"></div>
    <div class="text box-align">Parties gagnées</div>
  </div>
  <div class="block best-score">
    <div class="score-container box-align"></div>
    <div class="text box-align">Meilleur niveau</div>
  </div>
  <div class="block best-cash">
    <div class="score-container box-align"></div>
    <div class="text box-align">Meilleure cagnotte</div>
  </div>
  <div class="block stars">
    <div class="score-container box-align"></div>
    <div class="text box-align">Etoiles Mystérieuses</div>
  </div>
</div>-->
