<!--MAIN BLOCK-->
<div class='background'>
<!--HEADER BLOCK-->
  <div class="header">
    <a href="#home" class="home-btn"></a>
  </div>
  <div class='picture-container'>
      <div class='picture'
      {{#if is_linked }}
        style='background-image: url(https://graph.facebook.com/{{fb_id}}/picture?width=159&height=150)'
      {{/if}}
      ></div>
    <div class='name resize'>{{user.username}}</div>
  </div>
  <div class='personal-info'>
    <div class='level'>{{user.rank}}</div>
    <div class='score'>{{niceNumber stats.game_week_score}}</div>
  </div>
  <div class='buttons'>
    <a href="#hall-of-fame/profile" class='hall-of-fame'></a>
    {{#if gamecenter}}
      <div class='game-center'></div>
    {{/if}}
  </div>
  <div class='stats'>
    <div class='stat1'>
      <table>
        <tbody>
          {{#each stats}}
            <tr>
              <td class='left'>{{text}}</td>
              <td>{{number}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class='stat2'>
      <table>
        <tbody>

          {{#each sports}}
            <tr>
              <td class='left'>{{text}}</td>
              {{#if number}}
                <td>{{number}}%</td>
              {{else}}
                <td>Joue plus !</td>
              {{/if}}
            </tr>
          {{/each}}

        </tbody>
      </table>
    </div>
  </div>
</div>

<div id='right-block'>
  <div class="informations">
    <div class="cash">
      <div class='cash-value'>{{user.credits}}</div>
      <div class="cash-icone"></div>
    </div>
    <div class="lifes">
      <div class="lifes-value">{{user.health}}</div>
      <div class="lifes-icone"></div>
    </div>
  </div>
  <!--BONUS BLOCK-->
  <div class='bonus'>
    {{#each bonus}}
      <a href='#shop' class='elem {{name}}'>
        <div class='number'>{{quantity}}</div>
      </a>
    {{/each}}
  </div>
</div>
