<!-- HEADER BLOCK BEGIN -->
<a href="#home" class="home-btn"></a>
<div class='tabs-container'>
  <div class='tab active' id='credits'></div>
  <div class='tab inactive' id='bonuses'></div>
</div>

<div id='numbers'>
  <span id='hearts' class='number'>{{health}}</span>
  <span id='heart-icon' class='icon'></span>
  <span id='credits' class='number'>{{credits}}</span>
  <span id='credit-icon' class='icon'></span>
</div>

<div class="clearfix"></div>


<div class='tab-container'>

  <!-- CREDITS CONTENT BLOCK BEGIN -->
  <div class="content-container" id='credits'>
    <div class="free-offers offers">
      <div class='title'></div>
      {{#each packs.free_packs}}
        {{#unless disabled}}
          <a class="free-pack pack" id="{{name}}"></a>
        {{/unless}}
      {{/each}}
    </div>
    <div class="clearfix"></div>
    <div class="paid-offers offers">
      <div class='title'></div>
      {{#each packs.credit_packs}}
        <a class="paid-pack first-offer {{../packs.type}} pack" data-id="{{product_id}}">
          <span class='marker'>+</span>
          <span class='value'>{{value}}</span>
          <span class='credit-icon'></span>
          <span class='price'>{{price}} €</span>
        </a>
      {{/each}}
    </div>
    <div class="clearfix"></div>
  </div>


  <!-- BONUSES CONTENT BLOCK BEGIN -->
  <div class="content-container" id='bonus' style='display: none'>
    <div class='life-container'>
      {{#each bonuses.life_packs}}
        <div class="life-pack" data-position='{{@index}}'>
          <div class='value'>{{value}}</div>
          <div class='price'>{{price}}</div>
        </div>
      {{/each}}
    </div>
    <div id='bonus-packs'>
      {{#each bonuses.bonus_packs}}
        <div data-position='{{@index}}' class='bonus-pack'>
          <div class='value'>X {{value}}</div>
          <div class='price'>{{price}}</div>
        </div>
      {{/each}}
    </div>
  </div>

</div>