<!-- HEADER BLOCK BEGIN -->
<a href="#home" class="home-btn"></a>
<div class='tabs-container'>
  <div class='tab active' id='credits'></div>
  <div class='tab inactive' id='bonuses'></div>
</div>

<div id='numbers'>
  <span id='hearts' class='number'>{{health}}</span>
  <span id='heart-icon' class='icon'></span>
  <span id='credits' class='number'>{{credits}}</span>
  <span id='credit-icon' class='icon'></span>
</div>

<div class="clearfix"></div>


<div class='tab-container'>

  <!-- CREDITS CONTENT BLOCK BEGIN -->
  <div class="content-container" id='credits'>
    <div class="free-offers">
      {{#each packs.free_packs}}
        <a class="free-pack" id="{{name}}">
          <span>+ {{value}}</span>
        </a>
      {{/each}}
    </div>
    <div class="clearfix"></div>
    <div class="paid-offers">
      {{#each packs.credit_packs}}
        <a class="paid-pack first-offer" data-id="{{product_id}}" style="background-image:url({{image}})">
          <span class='marker'>+</span>
          <span class='value'>{{value}}</span>
          <span class='credit-icon'></span>
        </a>
      {{/each}}
    </div>
    <div class="clearfix"></div>
  </div>


  <!-- BONUSES CONTENT BLOCK BEGIN -->
  <div class="content-container" id='bonus' style='display: none'>
    <div class='life-container'>
      {{#each bonuses.life_packs}}
        <div class="life-pack" style='background-image: url(../images/shop/life_and_bonus/Vies/{{value}}.png)' data-position='{{@index}}'></div>
      {{/each}}
    </div>
    <div data-position='0' class='bonus-pack small'></div>
    <div data-position='1' class='bonus-pack medium'></div>
    <div data-position='2' class='bonus-pack big'></div>
  </div>

</div>