<div id='equipe-btn'></div>
<div id='date'>EDITION DU {{date}}</div>
<div id='photo-container'
  {{#if fb_id}}
    data-fbid='{{fb_id}}'
    data-size='149'
    class='photo not-loaded'
  {{/if}}
>
</div>
<div id='message'><span id='username'>{{username}}</span> joue a sport quiz mais n'a toujours pas d'amis !</div>
<a id='invite-btn'></a>
<div id='countdown-contest'>
  <span id='days' class='number'>00</span>
  <span id='hours' class='number'>00</span>
  <span id='minutes' class='number'>00</span>
</div>
<div id='ranking'>
  {{#each participants}}
    <span class='participant'>
      <div class='rank'>{{position}}</div>
        <div
        {{#if fb_id}}
          data-fbid='{{fb_id}}'
          data-size='65'
          class='photo not-loaded'
        {{else}}
          class='photo'
        {{/if}}
        ></div>
      <div class='blaze resize'>{{username}}</div>
      <div class='score'>{{score}}</div>
    </span>

    {{! The last one will be hidden }}
    <span class='spacer'></span>
  {{/each}}
</div>