<div id='equipe-btn'></div>
<div id='date'>EDITION DU {{date}}</div>
<div id='title'><span id='exculsive'>exclusif !</span> <span id='username' class='resize'>{{username}}</span></div>
<div id='photo-container'>
  {{#if fb_id}}
    <div id='photo' style='background-image:url(https://graph.facebook.com/{{fb_id}}/picture?width=90&height=90)'></div>
  {{else}}
    <div id='photo' style='background-image:url(http://media.comicvine.com/uploads/7/77914/2109064-4char_forever_alone_guy_high_resolution_icon.png)'></div>
  {{/if}}
</div>
<div id='message'>joue a sport quiz mais n'a toujours pas d'amis !</div>
<a id='invite-btn'></a>
<div id='countdown'>
  <span id='days' class='number'>00</span>
  <span id='hours' class='number'>00</span>
  <span id='minutes' class='number'>00</span>
</div>
<div id='ranking'>
  {{#each participants}}
    <span class='participant'>
      <div class='rank'>{{position}}</div>
      {{#if fb_id}}
        <div class='photo' style='background-image:url(https://graph.facebook.com/{{fb_id}}/picture?width=90&height=90)'></div>
      {{else}}
        <div class='photo' style='background-image:url(images/common/facebook-default.jpg)'></div>
      {{/if}}
      <div class='blaze'>{{username}}</div>
      <div class='score'>{{score}}</div>
    </span>
    <span class='spacer'></span>
  {{/each}}
</div>