<div id='equipe-btn'></div>
<div id='date'>EDITION DU {{date}}</div>
<div id='title'><span id='exculsive'>exclusif !</span> {{name}}</div>
<div id='photo-container'><div id='photo' style='background-image:url({{picture}})'></div></div>
<div id='message'>joue a sport quiz mais n'a toujours pas d'amis !</div>
<a id='invite-btn'></a>
<div id='countdown'>
  <span id='days' class='number'>00</span>
  <span id='hours' class='number'>00</span>
  <span id='minutes' class='number'>00</span>
</div>
<div id='ranking'>
  <span class='participant'>
    <div class='rank'>{{p1.rank}}</div>
    <div class='photo' style='background-image:url({{p1.picture}}?width=90&height=90)'></div>
    <div class='blaze'>{{p1.name}}</div>
    <div class='score'>{{p1.score}}</div>
  </span>
  <span class='spacer'></span>
  <span class='participant'>
    <div class='rank'>{{p2.rank}}</div>
    <div class='photo' style='background-image:url({{p2.picture}}?width=90&height=90)'></div>
    <div class='blaze'>{{p2.name}}</div>
    <div class='score'>{{p2.score}}</div>
  </span>
  <span class='spacer'></span>
  <span class='participant'>
    <div class='rank'>{{p3.rank}}</div>
    <div class='photo' style='background-image:url({{p3.picture}}?width=90&height=90)'></div>
    <div class='blaze'>{{p3.name}}</div>
    <div class='score'>{{p3.score}}</div>
  </span>
</div>