<div id='equipe-btn'></div>
<div id='date'>EDITION DU {{date}}</div>
<div id='photo-container'
  {{#if fb_id}}
    style='background-image:url(https://graph.facebook.com/{{fb_id}}/picture?width=149&height=149)'
  {{/if}}
>
</div>
<div id='message'><span id='username'>{{username}}</span> joue a sport quiz mais n'a toujours pas d'amis !</div>
<a id='invite-btn'></a>
<div id='countdown-contest'>
  <span id='days' class='number'>00</span>
  <span id='hours' class='number'>00</span>
  <span id='minutes' class='number'>00</span>
</div>
<div id='ranking'>
  {{#each participants}}
    <span class='participant'>
      <div class='rank'>{{position}}</div>
        <div class='photo'
        {{#if fb_id}}
          style='background-image:url(https://graph.facebook.com/{{fb_id}}/picture?width=65&height=65)'
        {{/if}}
        ></div>
      <div class='blaze resize'>{{username}}</div>
      <div class='score'>{{score}}</div>
    </span>

    {{! The last one will be hidden }}
    <span class='spacer'></span>
  {{/each}}
</div>