<div id='equipe-btn'></div>
<div id='date'>EDITION DU {{date}}</div>
<div id='title' class='resize'>{{winner}} a mis sa patee a {{loser}}</div>
<div id='vs'>
  {{#each participants}}
  <div class='participant'>
    {{#if fb_id}}
      <div class='photo' style='background-image:url(https://graph.facebook.com/{{fb_id}}/picture?width=90&height=90)'></div>
    {{else}}
      <div class='photo' style='background-image:url(images/common/facebook-default.jpg)'></div>
    {{/if}}
    <div class='blaze resize'>{{username}}</div>
    <div class='score'>{{score}}</div>
  </div>
  {{/each}}
</div>
<div id='buttons'>
  <a id='invite-btn'></a>
  <a id='ranking-btn' href="#hall-of-fame"></a>
</div>