<div id='equipe-btn'></div>
<div id='date'>EDITION DU {{date}}</div>
<div id='title' class='resize'>{{firstName winner}} a mis sa patee a {{loser}}</div>
<div id='vs'>
  {{#each participants}}
  <div class='participant'>
      <div
      {{#if fb_id}}
        data-fbid='{{fb_id}}'
        data-size='69'
        class='photo not-loaded'
      {{else}}
        class='photo'
      {{/if}}
      ></div>
    <div class='blaze resize'>{{username}}</div>
    <div class='score'>{{score}}</div>
  </div>
  {{/each}}
</div>
<div id='buttons'>
  <a id='invite-btn'></a>
  <a id='ranking-btn' href="#hall-of-fame/home"></a>
</div>