<div id='equipe-btn'></div>
<div id='date'>EDITION DU {{date}}</div>
<div id='title'>{{master}} maitrise ses amis</div>
<div id='podium'>
  {{#each participants}}
  <div class='participant' id='{{medal}}'>
    <div class='photo' style='background-image:url(https://graph.facebook.com/{{fb_id}}/picture?width=90&height=90)'></div>
    <div class='rank'>{{rank}}</div>
    <div class='blaze'>{{username}}</div>
    <div class='score'>{{score}}</div>
  </div>
  {{/each}}
</div>
<div id='buttons'>
  <a id='invite-btn'></a>
  <a id='ranking-btn' href='#masters'></a>
</div>