<div id='equipe-btn'></div>
<div id='date'>EDITION DU {{date}}</div>
<div id='title' class='resize'>{{firstName master}} maitrise ses amis</div>
<div id='podium'>
  {{#each participants}}
  <div class='participant' id='{{medal}}'>
    <div
    {{#if fb_id}}
      data-fbid='{{fb_id}}'
      data-size='69'
      class='photo not-loaded'
    {{else}}
      class='photo'
    {{/if}}
    ></div>
    <div class='rank'>{{rank}}</div>
    <div class='blaze resize'>{{firstName username}}</div>
    <div class='score'>{{score}}</div>
  </div>
  {{/each}}
</div>
<div id='buttons'>
  <a id='invite-btn'></a>
  <a id='ranking-btn' href='#hall-of-fame/home'></a>
</div>