<div id='equipe-btn'></div>
<div id='date'>EDITION DU {{date}}</div>
<div id='title'>{{username}} seulement <span class='rank'>{{rank}}</span>eme parmi ses amis !</div>
<div id='leaderboard-container'>
  <table id='leaderboard'>
    {{#each_with_index participants}}
    <tr class='participant'>
      <td class='rank'>{{iPlus1}}</td>
      <td class='photo'>
      {{#if fb_id}}
        <div style='background-image:url(https://graph.facebook.com/{{fb_id}}/picture?width=90&height=90)'></div>
      {{else}}
        <div style='background-image:url(images/common/facebook-default.jpg)'></div>
      {{/if}}
      </td>
      <td class='blaze'>{{username}}</td>
      <td class='score'>{{score}}</td>
    </tr>
    {{/each_with_index}}
  </table>
</div>
<div id='buttons'>
  <a id='invite-btn'></a>
  <a id='ranking-btn' href='#masters'></a>
</div>