<div id='equipe-btn'></div>
<div id='date'>EDITION DU {{date}}</div>
<div id='title' class='resize'>{{title}}</div>
<div id='leaderboard-container'>
  <table id='leaderboard'>
    {{#each_with_index participants}}
    <tr class='participant'>
      <td class='rank'>{{iPlus1}}</td>
      <td class='fb-photo'>
        <div
        {{#if fb_id}}
          data-fbid='{{fb_id}}'
          data-size='42'
          class='photo not-loaded'
        {{else}}
          class='photo'
        {{/if}}
        ></div>
      </td>
      <td class='blaze'>{{firstName username}}</td>
      <td class='score'>{{score}}</td>
    </tr>
    {{/each_with_index}}
  </table>
</div>
<div id='buttons'>
  <a id='invite-btn'></a>
  <a id='ranking-btn' href='#hall-of-fame/home'></a>
</div>