<div id='equipe-btn'></div>
<div id='date'>EDITION DU {{date}}</div>
<div id='title' class='resize'>{{title}}</div>
<div id='leaderboard-container'>
  <table id='leaderboard'>
    {{#each_with_index participants}}
    <tr class='participant'>
      <td class='rank'>{{iPlus1}}</td>
      <td class='photo'>
        <div
        {{#if fb_id}}
          style='background-image:url(https://graph.facebook.com/{{fb_id}}/picture?width=42&height=42)'
        {{/if}}
        ></div>
      </td>
      <td class='blaze resize'>{{username}}</td>
      <td class='score'>{{score}}</td>
    </tr>
    {{/each_with_index}}
  </table>
</div>
<div id='buttons'>
  <a id='invite-btn'></a>
  <a id='ranking-btn' href='#hall-of-fame/home'></a>
</div>