<div class="header-container">
  <a href="#home" class="home-btn"></a>
</div>
<div id="header-title"></div>

<div id='numbers'>
  <span id='hearts' class='number'>{{player.health}}</span>
  <span id='heart-icon' class='icon'></span>
  <span id='credits' class='number'>{{player.credits}}</span>
  <span id='credit-icon' class='icon'></span>
</div>


<div class="content-container">
  <h1 class="title box-align">
    {{endMessage}}<br />
    {{#if reward}}
      Tu as gagné <span class="jetons-number">{{reward}}</span> <span class="jetons"></span> !
    {{/if}}
  </h1>

  <div class="blocks-container">
    <div class="block jackpot">
      <div class="title"></div>
      <div class="value">{{niceNumber params.jackpot.value }}</div>
    </div>

    {{#unless params.jackpot.bestJackpot}}
      <div class="block best-jackpot">
        <div class="title"></div>
        <div class="value">{{niceNumber params.jackpot.best }}</div>
      </div>
    {{/unless}}

    <div class='block stats'>
      <table id='stats'>
        {{#each params.stats}}
        <tr>
          <td class='name'>{{text}}</td>
          <td class='number'>{{number}}</td>
        </tr>
        {{/each}}
      </table>
    </div>
  </div>
  <div id='buttons'>
    <a href="#shop" class="shop-btn"></a>
    <a href="#game" class="replay-btn"></a>
  </div>
</div>
