<div class="btn-menu"></div>
<div class='chrono-container'>
  <div class='chrono-chrono'></div>
  <div class='chrono-time'></div>
  <div class='chrono-filler-container'>
    <div class='chrono-filler'></div>
  </div>
</div>
<div class='question-container'>
  <div class='question-photo'></div>
  <div class='question-theme-container'>
    <div class='question-theme resize'></div>
  </div>
  <div class='question-content-container'>
    <div class='question-content resize'></div>
  </div>
  <div class='question-propositions-container'>
  </div>
</div>
<div class='bonus-container'>
  {{#each bonus}}
    <div class='bonus' id='{{name}}' style="background-image: url('images/ingame/{{name}}.png')">
      <div class='quantity'>{{quantity}}</div>
    </div>
  {{/each}}
</div>
<div class='jackpot-container'>
  <div id="total-jackpot">0</div>
  {{#each thresholds}}
    <div class='threshold' data-value="{{this}}"><span class='value'>{{this}}</span></div>
  {{/each}}
  <div id='jackpot-marker'>
</div>
