<div class="btn-menu">MENNU</div>
<div class='chrono-container'>
  <div id="time">{{time}}</div>
  <div id="progress"></div>
</div>
<div class='question-container'>
  <div class='question-photo'></div>
  <div class='question-theme'></div>
  <div class='question-content'></div>
  <div class='question-propositions-container'>
  </div>
</div>
<div class='bonus-container'>
  {{#each bonus}}
    <div class='bonus' id='{{name}}'>
      <div class='quantity'>{{quantity}}</div>
    </div>
  {{/each}}
</div>
<div class='jackpot-container'>
  <div id="total-jackpot">0</div>
  {{#each thresholds}}
    <div class='threshold' data-value="{{this}}">{{this}}</div>
  {{/each}}
</div>